/doc/Distance_longitude_latitude.pdf
/doc/Distance_longitude_latitude_annotated.pdf
/doc/rayon.ods
/testdata/LQB-Jo.gpx
/testdata/LQB-Jo_org.gpx
/testdata/LQB-parcdenisLeCamus.gpx
/testdata/Structure GPX.txt
/testdata/TraceJo.gpx
/testdata/TraceJoTime.gpx
/testdata/boisdecelie.gpx
/testdata/itineraire (copie).gpx
/testdata/itineraire.gpx
/testdata/itineraire2.gpx
/testdata/trace (copie).gpx
/testdata/trace.gpx
/testdata/travelGPX.py
